alias sshconfig="vim $HOME/.ssh/config"
alias vimconfig="vim $HOME/.vimrc"
alias zshconfig="vim $HOME/.zshrc"
alias zsource="source $HOME/.zshrc"
alias ohmyzsh="vim $HOME/.oh-my-zsh"
alias vim="mvim -v"
alias pip="pip3"
alias docker-images-update="docker images | grep -v REPOSITORY | awk '{print $1}' | xargs -L1 docker pull"
alias config='/usr/bin/git --git-dir=$HOME/.dev_conf/ --work-tree=$HOME'