[alias]
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  # Pretty log output
  hist = log --graph --pretty=format:‘%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]’ --abbrev-commit --date=relative

[commit]
        template = /Users/$(whoami)/.git_commit.txt
[core]
        editor = vim -v +16 +startinsert
